.checkout-container{
        display: flex;
        min-height: 90vh;
}

.products-container{

}

.checkout-btn{
                width: 156px;
                height: 41px;
                background: #FFD814;
        }