.header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 10px;
}

.number-container{
    color: red;
    margin-left: 15px;
    border-radius: 10px;
}

.shopping-cart {
    font-size: 2em;
}

.header-container h1{
    color: #3A4895;
}