.footer-container{
    background-color: #3A4895;
    padding:10px;
    width: 100%;
    color:var(--white);
    display: flex;
    justify-content: space-between;
    height: 40px;
  }

.footer-container p{
  color: white;
}

.contact-us-btn{
margin-right: 20px;
}